/* Common Style Section */
.body {
  font-family: "Merriweather", serif;
}

/* Header Section */

.header {
  position: relative;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .banner-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/Banner\ Image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container .header-item .upper-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  border: 0;
}

.banner-container .header-item .lower-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  border: 0;
}

/* Main Section */

.discount-part {
  margin-top: 120px;
  display: block;
  text-align: center;
  font-family: Inter;
}

.discount-heading {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.discount-title {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.discount-categories {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.new-year-img {
  width: 802.9px;
  height: 500px;
}

.party {
  position: relative;
  text-align: left;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.party-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.party-join {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-top: 48px;
  border-left: 32px;
}

.schedule {
  position: relative;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.schedule-sub-section {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.schedule-title {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.schedule-title .schedule-title-head {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.schedule-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  color: white;
  border: 0;
}

.gift-title-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gift-heading-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.gift-title {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.gift-title-container {
  position: relative;
  text-align: left;
  margin-top: 120px;
  margin-right: 400px;
}

.gift-title-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  width: 896px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.gift-img {
  position: relative;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift-img-photo {
  margin: 5px;
}

.subscribe {
  position: relative;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.subscribe-sub-section {
  margin-top: 100px;
}

.subscribe-heading {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}

.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

label {
  position: absolute;
}

input {
  border: none;
  padding: 15px;
  width: 672px;
  height: 30px;
  border-radius: 50px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  padding: 15px;
  background: #f00;
  color: #fff;
  border-radius: 0 25px 25px 0;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.placehold-btn-section {
  padding-right: 680px;
}

/* Footer Section */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  background: #070211;
  width: 1600px;
  height: 609px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.footer-sub-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 50px 120px 50px 120px;
}
.footer-address {
  width: 375px;
  height: 80px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.footer-call {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.footer-site {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

hr {
  width: 1320px;
  height: 1px;
  color: rgba(255, 255, 255, 0.15);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-pic {
  padding: 25px 24px 24px 48px;
}

.footer-down-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-rights {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
}
